<!doctype html>
<html lang="en">

<head>
    <title>404</title>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            color: #333333;
            font-family: tahoma, arial, 宋体, helvetica, sans-serif;
        }

        .links {
            color: #009900
        }

        #main {
            margin-top: 50px;
            margin-right: auto;
            margin-left: auto;
            width: 80%;
        }
    </style>
</head>

<body>

    <div id="main">
        <h1 align="center"><b><%=title %></b></h1>
        <h3 style="text-align: center">你可能迷路了</h3>
    </div>
</body>

</html>
