<!doctype html>
<html lang="en">

<head>
  <title>v-tools server</title>
  <meta charset="UTF-8">
  <style type="text/css">
    body {
      color: #333333;
      font-family: tahoma, arial, 宋体, helvetica, sans-serif;
    }

    .links {
      color: #009900
    }

    #main {
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
      width: 80%;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <div id="main">
    <h1 align="center"><b><%=title %></b></h1>
    <h3>基于node+express爬虫 API接口项目,包括全国高校信息、成语诗歌、星座运势、历史的今天、音乐数据接口、图片壁纸、搞笑视频、热点新闻资讯 详情接口数据</h3>
      <h3>接口可用于研究需求、项目学习，部分接口来源于网络爬虫，请勿用于商业推广以及其他获利用途，如有版权问题请告知删除!</h3>
    <h4><a href='/api-docs/'>API接口列表</a></h4>
  </div>
</body>

</html>
