<!doctype html>
<html lang="en">

<head>
  <title>欢迎进入IT开发者云平台！</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="欢迎进入IT开发者云平台！">
  <meta name="description" content="欢迎进入IT开发者云平台！">
  <!-- <link href="http://cdn.it919.cn/favicon.ico" rel="icon" type="image/x-icon"> -->
  <style type="text/css">
    body {
      color: #333333;
      font-family: tahoma, arial, 宋体, helvetica, sans-serif;
    }

    .links {
      color: #009900
    }

    #main {
      margin-top: 50px;
      margin-right: auto;
      margin-left: auto;
      width: 80%;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <a href="https://github.com/ecitlm"><img style="position: absolute; top: 0; left: 0; border: 0;"
      src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67"
      alt="Fork me on GitHub"
      data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
  <div id="main">
    <h1 align="center"><b><%=title %></b></h1>

    <p><a href="/web/daily_list" target="_blank">前端周报</a></p>
    <p><a href="/docs/" target="_blank">文档</a></p>
    <p><a href="/web/login">去登录项目</a></p>
    <h3>API接口列表</h3>
    <ul>
      <li><a href="/api/web_frame">前端框架top100</a></li>
      <li><a href="/api/daily_list">前端开发日报</a></li>
      <li><a href="api/daily_info/20190912">日报详情</a></li>
      <li><a href="/api/joke_list/1">段子列表</a></li>
      <!--            <li><a href="/api/joke_img">笑话图片</a></li>-->
      <!--            <li><a href="/api/joke_photo/1">搞笑图片</a></li>-->
      <li><a href="/api/news_list/1">新闻列表</a></li>
      <li><a href="/api/news_detail/6536479907868836356">新闻详情</a></li>
      <li><a href="/api/video_list/1/0">视频数据列表</a></li>
      <li><a href="/api/job_list/深圳/前端开发/1">拉勾工作职位搜索</a></li>
    </ul>

  </div>
</body>

</html>
