<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>登录</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="/public/css/bootstrap.min.css-v=3.3.5.css">
  <link href="/public/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/css/animate.min.css" rel="stylesheet">
  <link href="/public/css/style.min.css-v=4.0.0.css" rel="stylesheet">
  <link href="/public/favicon.ico" rel="icon" type="image/x-icon">

</head>

<body>

  <body>
    <div class="row">
      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>欢迎进入IT开发者--Nodejs_express</h5>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <label class="col-sm-3 control-label">用户名：</label>
              <div class="col-sm-8">
                <input type="text" id="name" placeholder="用户名" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">密码：</label>

              <div class="col-sm-8">
                <input type="password" id="pwd" placeholder="密码" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-8">
                <button class="btn btn-sm btn-white" type="submit" id="btn">登 录</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="/public/js/jquery.min.js-v=2.1.4.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $('#btn').click(function () {
          $.ajax({
            url: "/web/loginApi",
            dataType: "json",
            data: { name: $('#name').val(), pwd: $('#pwd').val() },
            type: "POST",
            success: function (req) {
              console.log(req)
              if (req.code !== 200) {
                alert(req.msg)
              } else {
                location.href = "/";
              }
            },
            error: function () {
            }
          });
        })
      })

    </script>
  </body>

</html>
